@using System.Linq
@model TomasosPizza.ViewModels.MenuViewModel

@{
    string ingredients = "";
}

<div class="col-lg-6">
    <h1>Din beställning</h1>
    <div class="tomasos-panel">
        <table class="table-responsive" style="width: 100%">
            @foreach (var rad in @Model.Order)
            {

                <tr>
                    <td>
                        @rad.Matratt.MatrattNamn
                    </td>
                    <td>
                        <span style="float: right">@rad.Antal * @rad.Matratt.Pris :-</span>
                    </td>
                    <td>
                        <span style="float: right"><a asp-controller="Order" asp-action="RemoveFromOrder" asp-route-id="@rad.MatrattId"><input type="button" value="Ta bort en" /></a></span>
                    </td>
                </tr>
            }
        </table>

        <br />
        @if (@Model.Order.Count > 0)
            {
            <br />
                <span class="tomasos-text">Pris: @Model.Order.Sum(p => p.Matratt.Pris * p.Antal) :-</span>
                <span style="float: right"><a asp-controller="Navigation" asp-action="OrderView" asp-route-order="@Model.Order"><input class="btn-success" type="button" value="Lägg beställningen" /></a></span>
        }
        else
        {
            <p>Din beställning är tom. Beställ något från menyn för att fylla på din beställning.</p>
        }
    </div>
</div>