@using TomasosPizza.ViewModels
@model AdminViewModel

@* Menyhantering *@
<!-- data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#cart" -->
<div class="col-lg-3">
    <div id="menuManager" class="tomasos-panel">
        <h2 class="col-lg-offset-1">Menyhantering</h2>
        @foreach (var dish in Model.Matratter)
        {
            <div class="input-group">
                <input type="text" class="form-control" placeholder="@dish.MatrattNamn" disabled>
                <div class="input-group-btn">
                    <a class="btn btn-default" asp-controller="Admin" asp-action="BeginUpdateMatratt" asp-route-id="@dish.MatrattId"
                       data-ajax="True" data-ajax-method="get" data-ajax-mode="replace" data-toggle="modal" data-ajax-update="#MatrattModal">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
            </div>
        }
        <div class="form-group align-right">
            <a class="btn btn-default" asp-controller="Admin" asp-action="AddNewToMenu"
               data-ajax="True" data-ajax-method="get" data-ajax-mode="replace" data-toggle="modal" data-ajax-update="#MatrattModal">
                <span>Ny Maträtt</span>
            </a>
        </div>
        
    </div>
</div>

<div class="col-lg-2">
    <div id="productsManager" class="tomasos-panel">
        @foreach (var ingredient in @Model.Ingredienser)
        {
            <form asp-controller="Admin" asp-action="SetProductName" asp-route-productId="@ingredient.ProduktId" asp-route-newName="@ingredient.ProduktNamn">
                <input asp-for="@ingredient.ProduktNamn" type="text" value="@ingredient.ProduktNamn" />
                <input type="submit" value="Uppdatera Namn" />
            </form>
        }
    </div>
</div>
        
@* Orderhantering *@
<div class="col-lg-3">
    @Html.Partial("_orderManagerPartial",@Model.Bestallningar)
</div>

@* Användarbehörighet *@
<div class="col-lg-4">
    @Html.Partial("_userRolesManagerPartial", new RolesManagerViewModel
    {
        IdentityKunds  = Model.IdentityKunder,
    })
</div>