@using TomasosPizza.ViewModels
@model AdminViewModel
@{
    var newName = "";
    var newProductName = "";
}
@* Menyhantering *@
<div class="col-lg-3">
    <div id="menuManager" class="tomasos-panel">
        <h2 class="col-lg-offset-1">Menyhantering</h2>
        @foreach (var dish in Model.Matratter)
        {
            <div class="input-group">
                <input type="text" class="form-control" placeholder="@dish.MatrattNamn" disabled>
                <div class="input-group-btn">
                    <a class="btn btn-default" asp-controller="Admin" asp-action="BeginUpdateMatratt" asp-route-id="@dish.MatrattId"
                       data-ajax="True" data-ajax-method="get" data-ajax-mode="replace" data-toggle="modal" data-ajax-update="#MatrattModal">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
            </div>
        }
        <div class="form-group align-right">
            <a class="btn btn-default" asp-controller="Admin" asp-action="AddNewToMenu"
               data-ajax="True" data-ajax-method="get" data-ajax-mode="replace" data-toggle="modal" data-ajax-update="#MatrattModal">
                <span>Ny Maträtt</span>
            </a>
        </div>
        
    </div>
</div>

<div class="col-lg-3">
    <div id="productsManager" class="tomasos-panel">
        <h2 class="col-lg-offset-1">Ingredienser</h2>
        @foreach (var ingredient in @Model.Ingredienser)
        {
            <form asp-controller="Admin" asp-action="SetProductName" asp-route-id="@ingredient.ProduktId" asp-route-newName="@newName">
                <input asp-for="@newName" type="text" value="@ingredient.ProduktNamn"/>
                <input type="submit" value="Uppdatera"/>
            </form>
        }
        <form asp-controller="Admin" asp-action="NewProduct" asp-route-newProductName="@newProductName">
            <input asp-for="@newProductName" type="text"/>
            <input type="submit" value="Skapa ny"/>
        </form>
    </div>
</div>
        
@* Orderhantering *@
<div class="col-lg-3">
    @Html.Partial("_orderManagerPartial",@Model.Bestallningar)
</div>

@* Användarbehörighet *@
<div class="col-lg-3">
    @Html.Partial("_userRolesManagerPartial", new RolesManagerViewModel
    {
        IdentityKunds  = Model.IdentityKunder,
    })
</div>