@model TomasosPizza.ViewModels.MenuViewModel
<h1>Welcome to Tomasos Pizza</h1>
@*<div style="display: block; float: left">*@
    <div class="col-lg-6" style="width: 400px;">
        @foreach (var product in @Model.Menu)
        {
            <p>@product.MatrattNamn</p><p>@product.Pris</p>
            <br />
            <p>@product.Beskrivning</p><br />
            <a asp-controller="Order" asp-action="AddToOrder"><input type="button" value="Beställ en"/></a> //asp-route-option="@product"
            <br />
        }
    </div>
    <div class="col-lg-6" style="width: 400px;">
        @foreach (var rad in @Model.Order)
        {
            <p>@rad.Matratt.MatrattNamn</p><p style="float: right">@rad.Antal * @rad.Matratt.Pris</p><br />
            if (rad.Antal > 0)
            {
                <a asp-controller="Order" asp-action="AddToOrder"><input type="button" value="Beställ en till"/></a>
                <a asp-controller="Order" asp-action="RemoveFromOrder"><input type="button" value="Beställ en färre"/></a>
            }
            <br />
        }
        <a asp-controller="Navigation" asp-action="OrderView" asp-route-order="@Model.Order"><input type="button" value="Lägg beställningen" /></a>
    </div>    
@*</div>*@