@using System.Linq
@model TomasosPizza.ViewModels.MenuViewModel

@{
    string ingredients = "";
}

<h1>Welcome to Tomasos Pizza</h1>
<div style="width: 100%">
    <div class="col-lg-6">
        @foreach (var product in @Model.Menu)
        {
            <p>@product.MatrattNamn (@product.MatrattTypNavigation.Beskrivning)<span style="float: right">@product.Pris :-</span></p>
            <p class="i">@product.Beskrivning</p>
            ingredients = "";
            foreach (var ingredient in product.MatrattProdukt)
            {
                ingredients += ingredient.Produkt.ProduktNamn + " ";
            }
            <p>Innehåller @ingredients</p>
            <a asp-controller="Order" asp-action="AddToOrder" asp-route-id="@product.MatrattId"><input class="btn-success" type="button" value="Beställ en" /></a> //asp-route-option="@product"
        }
    </div>
    <div class="col-lg-6">
        @foreach (var rad in @Model.Order)
        {

            @rad.Matratt.MatrattNamn
            if (rad.Antal > 0)
            {
                <span style="float: right"><a asp-controller="Order" asp-action="AddToOrder" asp-route-id="@rad.MatrattId"><input class="btn-success" type="button" value="+1" /></a></span>
                <span style="float: right"><a asp-controller="Order" asp-action="RemoveFromOrder" asp-route-id="@rad.MatrattId"><input class="btn-danger" type="button" value="-1" /></a></span>
            }
            <span style="float: right">@rad.Antal * @rad.Matratt.Pris :-</span>
            <br />
        }
        @if (@Model.Order.Count > 0)
        {
            <br />
            <p>Pris: @Model.Order.Sum(p => (p.Matratt.Pris*p.Antal)) :-</p><br/>
            <a asp-controller="Navigation" asp-action="OrderView" asp-route-order="@Model.Order"><input type="button" value="Lägg beställningen" /></a>
        }
    </div>
</div>