@model TomasosPizza.Models.Bestallning
<div class="col-sm-6" style="float:left">
    @foreach (var rad in @Model.BestallningMatratt)
    {
        <p>@rad.Matratt.MatrattNamn</p><p style="float: right">@rad.Antal</p><br />
        <br />
    }
    <p>Att betala: @Model.Totalbelopp</p>
</div>
<div class="col-sm-6" style="float:left">
    <form asp-controller="Order" asp-action="CheckOut" asp-route-user="@Model" method="post">
        
        <label asp-for="@Model.Kund.Gatuadress"></label>
        <input asp-for="@Model.Kund.Gatuadress" Value="@Model.Kund.Gatuadress" />
        <br />
        <label asp-for="@Model.Kund.Postnr"></label>
        <input asp-for="@Model.Kund.Postnr" Value="@Model.Kund.Postnr" />
        <br />
        <label asp-for="@Model.Kund.Postort"></label>
        <input asp-for="@Model.Kund.Postort" Value="@Model.Kund.Postort" />
        <br />
        <a asp-controller="User" asp-action="AddAdress" asp-route-updatedUser="@Model"><input type="button" value="Spara Adress"/></a>
        <input type="submit" value="Beställ" />
    </form>    
</div>
