@model TomasosPizza.Models.Kund
@*<div class="col-sm-6" style="float:left">
    @foreach (var rad in @Model.BestallningMatratt)
    {
        <p>@rad.Matratt.MatrattNamn</p><p style="float: right">@rad.Antal</p><br />
        <br />
    }
    <p>Att betala: @Model.Totalbelopp</p>
</div>*@
<div class="col-sm-6" style="float: left">
    <form asp-controller="User" asp-action="AddAdress" method="post">
        <label>Gatuadress</label>
        <input name="Gatuadress" value="@Model.Gatuadress"/>
        <br/>
        <label>Postnummer</label>
        <input name="Postnr" value="@Model.Postnr"/>
        <br/>
        <label>Postort</label>
        <input name="Postort" value="@Model.Postort"/>
        <br/>
        <input type="submit" value="Spara Adress"/>
        <a asp-controller="Order" asp-action="CheckOut"><input class="btn-success" type="button" value="Beställ"/></a>
    </form>
</div>
