@model TomasosPizza.Models.Kund
@{
    string confirm = "";
}
<div class="col-lg-6" style="align-self: center">
    <div class="tomasos-panel">
        @* todo evaluate Bootstrap form and maybe apply it to the other forms *@
        <form class="form-horizontal" asp-controller="User" asp-action="UpdateUser" asp-route-User="@Model" asp-route-confirm="@confirm" method="post">
            <div class="form-group">
                <label class="control-label col-lg-2" asp-for="AnvandarNamn">Användarnamn</label>
                <input class="form-control col-lg-10" asp-for="AnvandarNamn" Value="@Model.AnvandarNamn" disabled required/>
                <span class="form-control-feedback col-lg-12" asp-validation-for="AnvandarNamn"></span>
            </div>
            <table>
                <tr>

                </tr>
                <tr>
                    <td><label asp-for="Namn">Namn</label></td>
                    <td><input asp-for="Namn" Value="@Model.Namn" pattern="^[a-zåäöA-ZÖÅÖ\s]+$" required/></td>
                    <td><span asp-validation-for="Namn"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Email">E-mail</label></td>
                    <td><input asp-for="Email" Value="@Model.Email"/></td>
                    <td><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Telefon">Telefon</label></td>
                    <td><input asp-for="Telefon" Value="@Model.Telefon" pattern="^\d+$"/></td>
                    <td><span asp-validation-for="Telefon"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Gatuadress">Adress</label></td>
                    <td><input asp-for="Gatuadress" Value="@Model.Gatuadress"/></td>
                    <td><span asp-validation-for="Gatuadress"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Postnr">Postnummer</label></td>
                    <td><input asp-for="Postnr" Value="@Model.Postnr" pattern="^\d{5}$"/></td>
                    <td><span asp-validation-for="Postnr"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Postort">Postort</label></td>
                    <td><input asp-for="Postort" Value="@Model.Postort"/></td>
                    <td><span asp-validation-for="Postort"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Losenord">Nytt Lösenord</label></td>
                    <td><input asp-for="Losenord" type="password" maxlength="30"/></td>
                    <td><span asp-validation-for="Losenord"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="@confirm">Bekräfta med Befintligt Lösenord</label></td>
                    <td><input asp-for="@confirm" type="password" maxlength="30"/></td>
                </tr>
                <tr>
                    @*<td colspan="3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Poang"
                                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                @Model.Poang
                            </div>
                        </div>
                    </td>*@
                    <td><span class="tomasos-text">Poäng</span></td>
                    <td><progress value="@Model.Poang" max="100"></progress></td>
                    <td>@Model.Poang av 100</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Uppdatera"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>